@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

li {
    list-style: none;
}

input {
    all: unset;
}

.login-button{
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    min-width: 60%;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}

.sign-up-button{
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    height: 50px;
    width: 50px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}

.sign-up-button:hover{
    filter: brightness(1.2);
}

.google{
    background-color: #ed2f2f;
}

.fb{
    background-color: #157bef;
}

.mail{
    background-color: #dac283;
}

.phone{
    background-color: #b1b4b7;
}